<!DOCTYPE html>

<html>

<head>

<title>Interview</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2>{{ question.agent }} Agent</h2>

<h3>{{ question.question }}</h3>

<form method="POST">

<div id="timer"></div>

<progress
id="progress"
data-current="1"
data-total="7"
max="100">
</progress>

<input
type="text"
id="answer"
name="answer"
required>

<br><br>

<button
type="button"
id="voiceBtn">
🎤 Speak Answer
</button>

<br><br>

<p id="counter">0 Characters</p>

<br><br>

<button>

Next

</button>

</form>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>